{% block stylesheets %}
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.indigo-pink.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:300,400,600,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href="{{profile.user.avatar_url}}" rel="shortcut icon">
    <link rel="stylesheet" href="{{baseUrl}}styles/profile.css"/>
{% endblock %}

{% block scripts %}
  <script src="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.min.js"></script>
{% endblock %}

{% block content %}
  <div class="main-container">
  <div class="container mdl-grid">
    <div class="mdl-cell--6-col">
      <div class="mdl-card mdl-shadow--2dp mdl-cell">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-phone">
            <img src="{{profile.user.avatar_url}}" alt="{% if profile.user.name%}{{profile.user.name}}{%else%}{{user_name}}{%endif%}" style="width: 100%">
          </div>
          <div class="mdl-cell mdl-cell--8-col mdl-cell--4-col-phone">
            <div class="card-content">
              <h4>{% if profile.user.name%}{{profile.user.name}}{%else%}{{profile.user_name}}{%endif%}</h4>
              <ul class="status">
                <li><a href="{{profile.user.repos_url}}" target="_top"><strong>{{profile.user.public_repos}}</strong>Repos</a></li>
                <li><a href="https://gist.github.com/{{user_name}}" target="_top"><strong>{{profile.user.public_gists}}</strong>Gists</a></li>
                <li><a href="{{profile.user.followers_url}}" target="_top"><strong>{{profile.user.followers}}</strong>Followers</a></li>
              </ul>
            </div>
          </div>
        </div>
        <ul>
            <li><b>Joined:</b> {{profile.user.created_at}} ({{profile.user.duration}})</li>
            <li><b>Last activity:</b> {{profile.user.last_activity}}</li>
            <li><b>Last pushed repo:</b> <a href="https://github.com/{{profile.user.last_push.repo.name}}">{{profile.user.last_push.repo.name}}</a></li>
        </ul>
      </div>
      {% if profile.user_content%} {{profile.user_content}} {%endif%}
    </div>
    <div class="mdl-cell mdl-cell--6-col">
      <div class="mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
          <h3 class="mdl-card__title-text">Github Info</h3>
        </div>
        <div class="mdl-card__supporting-text">
          <ul>
            <li><b>Repositories:</b> {{profile.user.public_repos}} (Forks: {{profile.repos.forks}})</li>
            <li><b>Repos stats (w/ forks):</b> {{profile.repos.commits}} commits, {{profile.repos.stars}} stars, {{profile.repos.watchers}} watchers</li>
            <li><b>Repos languages (w/ forks):</b>
              <div class="langs">
                {% for l in profile.repos.languages %}
                  <span style="width: {{l[1][1]}}; background: {{l[1][2]}}" id="repo_{{l[0]}}">
                    {%if l[1][0] / (profile.user.public_repos - profile.repos.forks) > 0.15%}
                      {{l[1][1]}}
                    {%endif%}
                  </span>
                {%endfor%}
                {% for l in profile.repos.languages %}
                  <div class="mdl-tooltip" for="repo_{{l[0]}}">{{l[0]}} ({{l[1][1]}})</div>
                {%endfor%}
              </div>
              <ul>
                {% for l in profile.repos.languages.slice(0, 5) %}
                <li><b>{{l[0]}}:</b> {{l[1][0]}} repos ({{l[1][1]}})</li>
                {%endfor%} {% if profile.repos.languages|length > 5 %}
                <li><b>Rest:</b> {{profile.repos.language_names.slice(5, profile.repos.language_names|length)|join(', ')}}</li>
                {%endif%}
              </ul>
            </li>
            <li><b>Pull requests (w/ own repos):</b><br> Total: {{profile.repos.pulls}} (Merged: <b>{{profile.repos.pulls_merged}}</b>)
              <div class="langs">
                <span style="width: {{profile.repos.pulls_unmerged_per}}; background: #ccc; color: #111" id="unmerged">{%if profile.repos.pulls - profile.repos.pulls_merged%}{{profile.repos.pulls_unmerged_per}}{%endif%}</span>
                <span style="width: {{profile.repos.pulls_merged_per}}; background: #6e5494; color: #eee" id="merged">{%if profile.repos.pulls_merged%}{{profile.repos.pulls_merged_per}}{%endif%}</span>
                <div class="mdl-tooltip" for="unmerged">unmerged</div>
                <div class="mdl-tooltip" for="merged">merged</div>
              </div>
            </li>
            <li><b>PR stats:</b> {{profile.repos.pr_info.commits}} commits to {{profile.repos.pulls_repos_count}} repos,
              {{profile.repos.pr_info.additions}} additions,
              {{profile.repos.pr_info.deletions}} deletions,
              {{profile.repos.pr_info.changed_files}} changed files</li>
            <li><b>PR languages:</b>
              <div class="langs">
                {% for l in profile.repos.pulls_languages %}
                  <span style="width: {{l[1][1]}}; background: {{l[1][2]}}" id="pr_{{l[0]}}">
                    {%if l[1][0] / profile.repos.pulls > 0.15%}
                      {{l[1][1]}}
                    {%endif%}
                  </span>
                {%endfor%}
                {% for l in profile.repos.pulls_languages %}
                  <div class="mdl-tooltip" for="pr_{{l[0]}}">{{l[0]}} ({{l[1][1]}})</div>
                {%endfor%}
              </div>
              <ul>
                {% for l in profile.repos.pulls_languages.slice(0, 5) %}
                <li><b>{{l[0]}}:</b> {{l[1][0]}} PRs ({{l[1][1]}})</li>
                {%endfor%} {% if profile.repos.pulls_languages|length > 5 %}
                <li><b>Rest:</b> {{profile.repos.pulls_language_names.slice(5, profile.repos.pulls_language_names|length)|join(', ')}}</li>
                {%endif%}
              </ul>
            </li>
            <li><b>PR repos {% if profile.repos.pulls_repos|length > 5 %}(top 5){%endif%}:</b><ul>
              {% for repo in profile.repos.pulls_repos.slice(0, 5)%}
                <li><a href="http://github.com/{{repo[0]}}">{{repo[0]}}</a> ({{repo[1]}} PRs)</li>
              {%endfor%}
            </ul>
            </li>
            <li><b>Issues in foregin repos:</b> {{profile.issues}}</li>
            <li><b>Starred repos:</b> {{profile.stars}}</li>
          </ul>
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <small><b>Generated:</b> {{profile.timestamp}}</small>
        </div>
      </div>
    </div>
  </div>
  </div>
{% endblock %}
