<div class="info">
  <img src="{{basics.picture}}" class="avatar" alt="{{basics.name}} avatar" />
  <div class="user">
    <div class="name">
      {{basics.name}}
    </div>
    <div class="summary">
      {{basics.summary}}
    </div>
    <div class="contacts">
      <ul>
        <li>
          <b>email:</b>&nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:{{basics.email}}">{{basics.email}}</a>
        </li>
        <li>
          <b>telegram:</b>&nbsp;&nbsp;{{basics.telegram}}<br>
        </li>
      </ul>
    </div>
  </div>
</div>
